@use '../base/variables' as v;

.header{
    background-color: v.$verde;

    h1{
        color: v.$blanco;
    }
}

.navegacion-principal {
    a {
        color: v.$blanco;
        font-size: 1.7rem;

        &:hover{
            color: v.$amarillo;
        }
        
    }  
}